
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --yellow: #F4D04E; 
    --gray950: #111111;
}
body{
    font-family: 'Figtree', sans-serif;
    height: 100%;
    background-color: var(--yellow);   
    color: var(--gray950);
}

p{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: var(--gray950);
}
.blogPreview{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border-radius: 20px;
    border: solid var(--gray950) 1px;  
    box-shadow: 8px 8px 0 var(--gray950);
    background-color: white;  
    width: clamp(327px, 87.2vw, 384px);
    line-height: 150%;
}
.postImage{
    border-radius: 10px;
}
.postContent{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.tag{
    border-radius: 4px;
    background-color: var(--yellow);  
    font-size: clamp(12px, 3.2vw, 14px); 
    font-weight: 800;
    padding: 4px 12px;
}
.pubDate{
    font-size: clamp(12px, 3.2vw, 14px);
}
.postHeading{
    font-weight: 800;
    font-size: clamp(20px, 2vw, 24px);
}
.postLink:hover, .postLink:focus{
    color: var(--yellow);
}
.postBlurb{
    color: #6b6b6b;
    font-size: clamp(14px, 3.6vw, 16px)
}
.author{
    display: flex;
    align-items: center;
    gap: 12px;
}
.authorAvatar{
    width: 32px;
    height: auto;
}
.authorName{
    font-size: 14px;
    font-weight: 800;
}
